* { box-sizing: border-box; }

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;

    // Background (Color-shifting Animation)
    background-image: $gradient-bg;
    background-size: 300%;
    animation: bg-animation 8s infinite alternate;

    // Main font
    font-family: $ff-s;
    line-height: 1.6;

    // Named CSS Grids
    display: grid;
    grid-template-columns:
        [page-left] 10vw [marg-left] 10vw [content-left] 60vw [content-right] 10vw [marg-right] 10vw [page-right];
    grid-template-rows:
        [page-top] $content-height [nav-start] $footer-height [page-bottom];
    // grid-area: ;
}