// ================================================
// 
//      FONTS
// 
// ================================================
// Import @font-face CSS names from Adobe
// 
// Fonts I actually use:
//     - 

@import url(https://use.typekit.net/aro7jbx.css);

$ff-display-sans: bebas-neue-pro-expanded;
$ff-subhead-sans: mr-eaves-modern;
$ff-display-serif: mrs-eaves;
$ff-body-serif: mrs-eaves-xl-serif;

// Font family - S(ans), S(ans) S(erif)
// Main
$ff-s: $ff-body-serif, serif;
$ff-ss: $ff-subhead-sans, sans-serif;

// Heading (Display)
$ff-heading-s: 'bebas-neue-pro-expanded', Arial;

// Font weights - ExtraLight, Light, normal, bold
$fw-el: 100; 
$fw-l: 200; 
$fw-n: 400;
$fw-b: 900;

// Spacing
$letter-spacing-tight: .05em;
$letter-spacing-loose: .2em;
