
// ================================================
// 
//      COLORS
// 
// ================================================

// Greyscale
$bg: #000;
$white: #FFF;
$light-gray: #A7A7A7;
$gray: #E8E9EB;
$dark-gray: #393939;

// Color
$offwhite: #e8e8e8;

$accent-primary: limegreen;
$accent-secondary: orange;

// Specific uses
$text-background-faint: hsla(0, 0, 0, 0.4);

// @debug Color-Accent-Primary $accent-primary;