// ================================================
// 
//      WORK PAGE / PORTFOLIO LAYOUT
// 
// ================================================
// Just somewhere to put all of the Grid layout
// stuff for displaying the project example cards
// on the 'work.html' page. 
//  


.work {
    // ============= Positiong =============
    // Position within page Grid
    // display: grid;
    grid-column-start: content-left;
    grid-column-end: content-right;
    grid-row-start: about-end;
    grid-row-end: portfolio-end;
}

.portfolio-item {

    display:flex;
    flex-wrap: wrap;

    img { 
        height: 200px;
        max-width: 300px;
    }
}


// Not used currently
.work-container {
    // Internal positioning
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // grid-auto-columns: [work-1] 25% [work-2] 25% [work-3] 25%;

}

.project-display-card {

    text-align: center;
}