html,
body {
    margin: 0;
    padding: 0;
    background: #161616;
    color: white;
}

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: #ce943e;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

h1 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: mrs-eaves-xl-serif,serif;
    font-weight: 700;
    font-style: normal;
}

/* Nav Buttons */

.btn {
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
}

#aboutButton {
    left: 40%;   
}

#creditsButton {
    left: 60%;   
}

#contactButton {
    left: 80%;   
}

/* About Button */

.about_button {
    left: 40%;
}


.about_button a {
    font-family: mrs-eaves-xl-serif,serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 24px 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.3s;
}

.about_button:hover a {
    background: white;
    color: #161616;
    transition: 0.3s;
}

/* Credits Button */

.credits_button {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.credits_button a {
    font-family: mrs-eaves-xl-serif,serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 24px 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.3s;
}

.credits_button:hover a {
    background: white;
    color: #161616;
    transition: 0.3s;
}

/* Contact Button */

.contact_button {
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.contact_button a {
    font-family: mrs-eaves-xl-serif,serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 24px 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.3s;
}

.contact_button:hover a {
    background: white;
    color: #161616;
    transition: 0.3s;
}