<!-- To make stuff happen, run: `npm run watch` -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Randy Makes TV</title>
        <module href="/components/head.html"></module>
    </head>

    <!-- ================================= Body ================================= -->
    <body>
        <!-- Cover Image -->
        <section class="page-header"></section>
         
        <h1 class="title content">Randy Makes TV</h1>

        <nav class="content">
            <h2>Nav</h2>
            <a href="/about.html">About</a>
            <a href="/work.html">Work</a>
            <a href="/contact.html">Contact</a>
        </nav>



        <section class="page-desc content">
            <p>Paragraph text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, dignissimos sint vel non perferendis assumenda autem! Rerum laboriosam, optio nihil exercitationem reiciendis mollitia hic odit. Saepe, voluptate perspiciatis officia amet alias, rerum numquam necessitatibus labore optio, minima molestias laboriosam explicabo esse atque veniam. Maxime, nam corporis laborum aperiam unde incidunt!</p> 
        </section>

        <!-- <section class="content"> -->
        <section class="content triangle">
            <div class="portfolio work-container">
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=1" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=2" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=3" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=4" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=5" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=6" alt="Example Image">
                </div>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus molestias id delectus error quod debitis adipisci perferendis consequatur at odit ad expedita totam excepturi quam autem nisi, nemo laboriosam nihil. Sint, molestiae cumque recusandae nisi nobis vel, sunt ratione suscipit, dicta eum voluptatibus omnis obcaecati. Asperiores maxime veniam ex repudiandae?</p>
        </section>

        <!-- Scripts -->
        <script src="./bundle.js"></script>
        
    </body>
</html>