<!-- To make stuff happen, run: `npm run watch` -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Randy Makes TV</title>
        <module href="/components/head.html"></module>
    </head>

    <!-- ================================= Body ================================= -->
    <body>
        <!-- Rework of the structure -->
        <!-- Header based on https://codepen.io/kevinpowell/pen/GrLKNo -->

        <header>
            <module href="/components/nav.html"></module>
        </header>

        <!-- <nav class="content">
            <module href="/components/nav.html"></module>
        </nav> -->

        <!-- Welcome -->
        <!-- Cover Image -->
        <section class="welcome">
            <div class="welcome-left"></div>
            <h1 class="welcome-mid">Randy<br>Makes TV</h1>
            <div class="welcome-right"></div>
        </section>


        <!-- About -->
        <section class="about">
            <img class="about-img" src="../images/profile-randycounsman.jpg" alt="Image of Randy Counsman">
            <h1 class="about-title">About</h1>
            <h2 class="about-subtitle">Randy Counsman</h2>
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consectetur aut praesentium non, earum ut ducimus sint expedita quisquam numquam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, quisquam?</p>
            </div>
        </section>
        
        <!-- Work -->
        <section class="work animate-this">
                <h1>Work</h1>

                <div class="portfolio-items">
                    <!-- Portfolio Item 1 -->
                    <figure class="portfolio-item featured">
                        <img src="../images/portfolio-01.jpg" alt="Portfolio image 1" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Making of the Mob</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 2 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-02.jpg" alt="Portfolio image 2" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 3 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-03.jpg" alt="Portfolio image 3" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 4 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-04.jpg" alt="Portfolio image 4" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 5 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-05.jpg" alt="Portfolio image 5" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 6 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-06.jpg" alt="Portfolio image 6" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>
                </div>
        </section>

        <!-- Contact -->

        <section class="contact" id="contact">
            <h1>Contact</h1>
            <form action="">
                <label class="name">Name:
                    <input type="text" id="name">
                </label>
                
                <label class="email">Email:
                    <input type="email" id="email">
                </label>

                <label message="message">Message:
                    <textarea name="" id="message"></textarea>
                </label>
            </form>
        </section>        

        <!-- Footer -->
        <footer>
            <module href="/components/footer.html"></module>
        </footer>


        <!-- Old -->
        <h1 class="title content animate-this"></h1>
        



        <section class="page-desc content">
            <p>Paragraph text Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, dignissimos sint vel non perferendis assumenda autem! Rerum laboriosam, optio nihil exercitationem reiciendis mollitia hic odit. Saepe, voluptate perspiciatis officia amet alias, rerum numquam necessitatibus labore optio, minima molestias laboriosam explicabo esse atque veniam. Maxime, nam corporis laborum aperiam unde incidunt!</p> 
        </section>

        <!-- <section class="content"> -->
        <!-- <section class="content">
            <div class="portfolio work-container">
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=1" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=2" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=3" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=4" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=5" alt="Example Image">
                </div>
                <div class="project-display-card">
                    <img src="https://picsum.photos/320/180?random=6" alt="Example Image">
                </div>
            </div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus molestias id delectus error quod debitis adipisci perferendis consequatur at odit ad expedita totam excepturi quam autem nisi, nemo laboriosam nihil. Sint, molestiae cumque recusandae nisi nobis vel, sunt ratione suscipit, dicta eum voluptatibus omnis obcaecati. Asperiores maxime veniam ex repudiandae?</p>
        </section> -->

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
        <!-- <script src="https://unpkg.com/@barba/core"></script> -->
        <script src="./bundle.js"></script>
        <!-- <script src="assets/main.js"></script> -->
        
    </body>
</html>