<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    


        <!-- About -->
        <section class="about">
            <img class="about-img" src="../images/profile-randycounsman.jpg" alt="Image of Randy Counsman">
            <h1 class="about-title">About</h1>
            <h2 class="about-subtitle">Randy Counsman</h2>
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consectetur aut praesentium non, earum ut ducimus sint expedita quisquam numquam.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, quisquam?</p>
            </div>
        </section>
        
        <!-- Work -->
        <section class="work animate-this">
                <h1>Work</h1>

                <div class="portfolio-items">
                    <!-- Portfolio Item 1 -->
                    <figure class="portfolio-item featured">
                        <img src="../images/portfolio-01.jpg" alt="Portfolio image 1" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Making of the Mob</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 2 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-02.jpg" alt="Portfolio image 2" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 3 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-03.jpg" alt="Portfolio image 3" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 4 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-04.jpg" alt="Portfolio image 4" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 5 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-05.jpg" alt="Portfolio image 5" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>

                    <!-- Portfolio Item 6 -->
                    <figure class="portfolio-item">
                        <img src="../images/portfolio-06.jpg" alt="Portfolio image 6" class="">
                        <figcaption>
                            <h2 class="portfolio-title">Project Name</h2>
                            <p class="portfolio-desc">A short description could appear here.</p>
                        </figcaption>
                    </figure>
                </div>
        </section>

        <!-- Contact -->

        <section class="contact" id="contact">
            <h1>Contact</h1>
            <form action="">
                <label class="name">Name:
                    <input type="text" id="name">
                </label>
                
                <label class="email">Email:
                    <input type="email" id="email">
                </label>

                <label message="message">Message:
                    <textarea name="" id="message"></textarea>
                </label>
            </form>
        </section>        

</body>
</html>