/* 
=====================================================
=====================================================
Table of Contents

    1. Variables

    2. Components?
    
    3. Typography

    4. Loading / Page Transition

    5. Nav Buttons
    
    6. Video
=====================================================
=====================================================
*/

/* 
=====================================================
=====================================================
    1. Variables
=====================================================
=====================================================
*/

:root {
    /* Setup Color Pallete */
    --clr-black: #0d0000;
    --clr-white: #fbfbc9;
    --clr-accent: #de8f06;
    --clr-secondary: #0425cb;

    /* Setup Font Family */
    --ff-display-serif: mrs-eaves-serif, serif;
    --ff-display-sans: mr-eaves-modern, sans-serif;
    --ff-body-serif: mrs-eaves-xl-serif, serif;
    --ff-body-sans: mr-eaves-xl-modern, sans-serif;

}

/* 
=====================================================
=====================================================
    2. Main Components?
=====================================================
=====================================================
*/

body {
    /* Font */
    color: var(--clr-white);
    font-family: var(--ff-body-serif);
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 1.6;
    font-style: normal;
    letter-spacing: 4px;
    /* Page */
    margin: 0;
    padding: 0;
    background: var(--clr-black);

}

a {
    color: var(--clr-white);
    /* Remove underline */
    text-decoration: none;

}

nav {}

.header {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Make sure that padding behaves as expected */
* {
    box-sizing: border-box
}

/* Container for skill bars */
.container {
    width: 100%;
    /* Full width */
    background-color: #ddd;
    /* Grey background */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    color: white;
    /* White text color */
}


/* 
=====================================================
=====================================================
    3. Typography
=====================================================
=====================================================
*/

h1 {
    font-family: var(--ff-display-serif);
    font-size: 1.5rem;
}

h2 h3 h4 h5 h6 {
    font-family: var(--ff-display-sans);
    line-height: 1;
    font-weight: 300;
}



ul {
    font-family: var(--ff-body-sans);
    font-weight: 300;
    font-size: 1rem;
    line-height: 2;
}

/* p {
    font-size: medium;

} */

.accent-color {
    color: var(--clr-accent);
}

.big {
    font-size: 400%;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--clr-accent);
    background: var(--clr-black);
}

::selection {
    color: var(--clr-accent);
    background: var(--clr-black);
}

/* 
=====================================================
=====================================================
    4. Loading / Page Transition
=====================================================
=====================================================
*/

.loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: var(--clr-accent);
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}



/* 
=====================================================
=====================================================
    5. Nav Buttons 
=====================================================
=====================================================
*/

.btn {
    /* Font */
    text-transform: uppercase;
    letter-spacing: .7rem;
    font-size: .9rem;
    text-align: center;
    /* Position */
    position: absolute;
    top: 80%;
    /* transform: translate(-50%, -50%); */

    /* Spacing */
    margin: 50px;

    /* Animation? */
    transition: 0.5s;

    /* Draw Box */
    background-color: var(--clr-black);
    border: 1px solid var(--clr-white);
    padding: 40px 100%;
    opacity: 0.6;
}

/* Mouse Over Links and Selected links */
.btn:hover,
.btn:active,
.btn:focus {
    opacity: 1;
    background: var(--clr-accent);
    /* color: var(--clr-accent); */
}

#btn-home {
    top: 20%;
}

#btn-about {
    top: 20%;
}

#btn-work {
    top: 40%;
}

#btn-contact {
    top: 60%;
}

/* 
=====================================================
=====================================================
    6. Videos 
=====================================================
=====================================================
*/

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}