
// h2 {
//     font-size: 2rem;
//     font-family: $ff-ss;
//     letter-spacing: $letter-spacing;
//     color: $dark-gray;
//     line-height: 1;
// }

// .content {
//     grid-column: content-left / content-right;
// }

// .page-title {
//     font-family: $ff-display-sans, Arial, sans-serif;
//     font-weight: 700;
//     text-transform: uppercase;
//     color: $accent-primary;
//     font-size: 3.5rem;
// }

// .small-title {
//     font-size: 1rem;
//     text-transform: uppercase;
// }



.social-icons {
    width: 20px;
    filter: invert(1);
}

.copyright {
    width: 20px;
    filter: invert(1);
}


// 
.welcome {    

    // grid-column: page-left / page-right;
    // grid-row: page-top / nav-start;

    h1 {
        font-size: 2rem;
        // &::before {
        //     content: ' ';
        //     display: block;
        //     margin: 0 auto;
        //     width: 80%;
        //     height: 50px;
        //     background: $purple;
        //     z-index: 2;
        // }
    }
}


<!-- scss -->
footer {
    background-image: $gradient-accent;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer-height;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;      
        position: relative;
    }

    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    a:active {
        background-color: $accent-secondary;
        color: white;
    }
}