@import 'variables.scss';
@import 'portfolio.scss';

body {
    padding: 0;
    margin: 0;
    background-color: $bg;
    // Main font color
    color: $offwhite;

    // Named CSS Grids
    display: grid;
    grid-template-columns:
        [page-left] 10vw [marg-left] 1fr [content-left] 60vw [content-right] 1fr [marg-right] 10vw [page-right];
    grid-template-rows:
        [page-top] 95vh [info-start] 5em [info-end] 5em [content-top] auto [page-bottom];
}

h1 {
    color: $primary;
}

a {
    color: $secondary;
}

nav {
    color: $accent-primary;

    &:hover {
        color: $primary;
    }

}

.content {
    grid-column: content-left / content-right;
}

.title {
    font-family: $ff-display-sans, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $accent-primary;
    font-size: 3.5rem;
    // Grid positiong
    grid-row: page-top / info-start;
    z-index: 30;
}

.small-title {
    font-size: 1rem;
    text-transform: uppercase;
}


.page-header {
    background: url(//unsplash.it/1000/800);
    background-size: cover;
    grid-column: page-left / page-right;
    grid-row: page-top / info-start;
}

.page-desc {

    // ============= Background box =============
    background-color: $text-background-faint;
    background-blend-mode: multiply;

    text-align: center;
    justify-content: center;

    // ============= Positiong =============

    // Internal positioning
    display: flex;
    justify-content: space-around;
    align-items: center; // Vertical Align

    // Position within page Grid
    grid-column: marg-left / marg-right;
    grid-row: page-top / info-start;

    z-index: 20;
}


//   .title span {
//     font-weight: 300;
//     display: block;
//   }

//   .section-three {
//     background: lightblue;
//     grid-column: page-start / page-end;
//     grid-row: hero-end / bottom;
//     padding: 150px 0;

//     display: grid;
//     grid-template-columns: inherit;
//   }

//   .container {
//     background: pink;
//     grid-column: content-start / content-end;
//   }