@import 'modules/all';
@import 'partials/all';
@import 'vendor/normalize';



.content {
    grid-column: content-left / content-right;
}

.title {
    font-family: $ff-display-sans, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $accent-primary;
    font-size: 3.5rem;
    // Grid positiong
    grid-row: page-top / info-start;
    z-index: 30;
}

.small-title {
    font-size: 1rem;
    text-transform: uppercase;
}


.welcome {
    background: url(images/nyc.jpg);
    background-size: cover;
    grid-column: page-left / page-right;
    grid-row: page-top / info-start;
}

.page-desc {

    text-align: justify;

    // ============= Background box =============
    // background-color: $text-background-faint;
    // background-blend-mode: multiply;

    // ============= Positiong =============

    // Internal positioning
    display: flex;
    justify-content: space-around;
    align-items: center; // Vertical Align

    // Position within page Grid
    grid-column: content-left / content-right;
    grid-row: page-top / info-start;

    z-index: 20;
}