<!-- not currently used -->

<div class="social-icons">
    <!-- <img class="social-icon" src="images/icons/favorite.svg" alt="favorite icon">
    <img class="social-icon" src="images/icons/twitter.svg" alt="twitter icon"> -->
    
    <ul>
        <li>
        <a href="https://github.com/boo13">
            <img class="social-icon" src="images/icons/github.svg" alt="github icon">
        </a>    
        </li>
        <!--  -->
        <li>
            <a href="https://www.linkedin.com/in/randycounsman/">
                <img class="social-icon" src="images/icons/linkedin.svg" alt="linkedin icon">
            </a>
        </li>
        <!--  -->
        <li>
            <a href="http://vimeo.com" >
                <img class="social-icon" src="images/icons/vimeo.svg" alt="vimeo icon">
            </a> 
        </li>
       
        <!-- <img class="social-icon" src="images/icons/save.svg" alt="save icon"> -->
        <li>
            <a href="https://www.linkedin.com/in/randycounsman/">
                <img class="social-icon" src="images/icons/creative-commons.svg" alt="creative commons icon">
            </a>
        </li>
        

    </ul>

</div>
